@media screen and (max-width: 1200px) {
  #landingPage {
    width: 100%;
    left: 0%;
  }
  .imageCollageParalax {
    display: none !important;
  }
  .titleHolder {
    margin-top: 20vmin !important;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .page-title {
    font-size: 80 vw;
    color: white;
  }
  .page-title-desc {
    font-size: 3rem;
    color: #ededed;
  }
  .nav {
    position: fixed;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-left: 50vw;
    width: 50vw;
    height: 100vh;
    opacity: 90%;
    background-color: #000000;
    opacity: 92%;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .active-nav {
    opacity: 92%;
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw);
    height: 100vh;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .first-nav-link-home {
    margin-top: 5rem;
  }
  #navbar .nav-link {
    font-size: 2rem !important;
    font-weight: bold;
    /* margin-left: -300px; */
  }
  .btnHolderLandingPage {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  /* TOGGLE BTN */
  .toggleBtn {
    position: fixed;
    /* transform: translateX(-20vw) */
    top: -20px;
    left: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50px;
    height: 35px;
    /* background: grey; Uncomment this to see the bounding box of the toggle */
  }
  .toggleBtnDiv {
    width: 3rem;
    height: 0.3rem;
    background-color: white;
    border-radius: 20px;
    -webkit-box-flex: 0.5;
        -ms-flex-positive: 0.5;
            flex-grow: 0.5;
    margin: 2px;
  }
  /* Getting ref to all lines */
  .toggleBtn div {
    /* position: absolute; */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  /*Each of the lines below */
  .toggleBtnDivOne {
    -webkit-transform: rotate(45deg) translate(-5px, 5px);
            transform: rotate(45deg) translate(-5px, 5px);
    -webkit-box-flex: 0.1;
        -ms-flex-positive: 0.1;
            flex-grow: 0.1;
    height: 8px;
    opacity: 100%;
  }
  .toggleBtnDivTwo {
    display: none;
  }
  .toggleBtnDivThree {
    -webkit-transform: rotate(-50deg) translate(5px, -13px);
            transform: rotate(-50deg) translate(5px, -13px);
    -webkit-box-flex: 0.1;
        -ms-flex-positive: 0.1;
            flex-grow: 0.1;
    height: 8px;
    opacity: 100%;
  }
}

@media screen and (min-width: 1199px) {
  .imageCollageParalax {
    display: block !important;
  }
  .toggleBtn {
    display: none;
  }
}
/*# sourceMappingURL=media.css.map */