/* Projects.css */
.landingCenter-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12%;
  padding-bottom: 1%;
}

.contianer-GoDownArrow-project {
  z-index: 10 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 12%;
}

.GoDownArrow-project {
  margin: 0;
  padding: 0;
  position: absolute;
}

.GoDownArrow-project div {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  z-index: 0;
  -webkit-animation: animate 1.5s linear infinite;
          animation: animate 1.5s linear infinite;
}

.GoDownArrow-project div:nth-child(1) {
  -webkit-transform: translate(0px, 0px) rotate(45deg) !important;
          transform: translate(0px, 0px) rotate(45deg) !important;
  /* transform: translate(0px,0px) rotate(45deg) !important; */
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.GoDownArrow-project div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
  -webkit-transform: translate(0px, 20px) rotate(45deg) !important;
          transform: translate(0px, 20px) rotate(45deg) !important;
}

.GoDownArrow-project div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate(0px, 40px) rotate(45deg) !important;
          transform: translate(0px, 40px) rotate(45deg) !important;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0%;
    top: 0px;
  }
  50% {
    opacity: 100%;
    top: 15px;
  }
  100% {
    opacity: 0%;
    top: 30px;
  }
}

@keyframes animate {
  0% {
    opacity: 0%;
    top: 0px;
  }
  50% {
    opacity: 100%;
    top: 15px;
  }
  100% {
    opacity: 0%;
    top: 30px;
  }
}

/* Projects part from project window */
.projects_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects_projects .card {
  position: relative;
  min-width: 400px;
  height: 300px;
  margin: 5% 0 2% 0;
}

.projects_projects .card-img-top {
  max-width: 90%;
}

.projects_projects .card {
  border: 0;
}

.card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none !important;
}
/*# sourceMappingURL=projects.css.map */